serverless.yml
org: luciajcm
service: bemmbos

plugins:
  - serverless-dotenv-plugin
  - serverless-step-functions

provider:
  name: aws
  runtime: nodejs20.x
  region: us-east-1
  timeout: 30
  memorySize: 2048
  # Uso de AccountID din谩mico para evitar errores en laboratorios
  iam:
    role: arn:aws:iam::${aws:accountId}:role/LabRole

  environment:
    # --- Tablas ---
    USER_TABLE: UserTable-${sls:stage}
    ORDERS_TABLE: OrdersTable-${sls:stage}
    MENU_TABLE: MenuTable-${sls:stage}
    KITCHEN_TABLE: KitchenTable-${sls:stage}
    KITCHEN_STATE_TABLE: KitchenStateTable-${sls:stage}
    
    # --- Buckets ---
    ORDERS_BUCKET: restaurant-orders-dashboard-${sls:stage}-${aws:accountId}
    MENU_BUCKET: menu-bucket-${sls:stage}-${aws:accountId}
    
    # --- Config General ---
    JWT_SECRET: ${env:JWT_SECRET, '1234'}
    ALLOWED_ORIGINS: ${env:ALLOWED_ORIGINS, '*'}
    CORS_ALLOW_CREDENTIALS: ${env:CORS_ALLOW_CREDENTIALS, 'false'}
    SLS_STAGE: ${sls:stage}
    
    # --- Eventos e Infraestructura ---
    INGESTION_BUS: IngestionBus-${sls:stage}
    NOTIFICATION_BUS: NotificationBus-${sls:stage}
    WAITING_QUEUE_URL: { Ref: WaitingOrdersQueue }
    OPERATIONS_TOPIC_ARN: { Ref: OperationsAlertTopic }
    CUSTOMER_TOPIC_ARN: { Ref: CustomerNotificationTopic }
    
    # --- ARN de Step Function (Construido manualmente para evitar dependencia circular) ---
    STATE_MACHINE_ARN: 
      Fn::Join:
        - ":"
        - - "arn:aws:states"
          - Ref: "AWS::Region"
          - Ref: "AWS::AccountId"
          - "stateMachine"
          - "KitchenWorkflow-${sls:stage}"

package:
  patterns:
    - '!node_modules/aws-sdk/**'
    - '!tests/**'
    - '!docs/**'

functions:
  # ===================================================
  # 1. AUTENTICACIN
  # ===================================================
  register:
    handler: auth/register.handler
    events:
      - http: { path: auth/register, method: post, cors: true }
    environment:
      CUSTOMER_TOPIC_ARN: { Ref: CustomerNotificationTopic }
  
  login:
    handler: auth/login.handler
    events:
      - http: { path: auth/login, method: post, cors: true }
  
  authorizer:
    handler: authorizer.handler

  # ===================================================
  # 2. ADMINISTRACIN
  # ===================================================
  adminCreateWorker:
    handler: admin/createWorker.handler
    events:
      - http: { path: admin/workers, method: post, cors: true, authorizer: { name: authorizer, type: request, identitySource: method.request.header.Authorization } }
  
  adminCreateMenu:
    handler: admin/createMenu.handler
    events:
      - http: { path: admin/menu, method: post, cors: true, authorizer: { name: authorizer, type: request, identitySource: method.request.header.Authorization } }
  
  adminUpdateMenu:
    handler: admin/updateMenu.handler
    events:
      - http: { path: admin/menu, method: patch, cors: true, authorizer: { name: authorizer, type: request, identitySource: method.request.header.Authorization } }

  # ===================================================
  # 3. GESTIN DE COCINAS (CRUD)
  # ===================================================
  createKitchen:
    handler: kitchen/createKitchen.handler
    events:
      - http: { path: kitchens, method: post, cors: true, authorizer: { name: authorizer, type: request, identitySource: method.request.header.Authorization } }
  
  listKitchens:
    handler: kitchen/listKitchens.handler
    events:
      - http: { path: kitchens, method: get, cors: true }
  
  getMenu:
    handler: kitchen/getMenu.handler
    events:
      - http: { path: menu, method: get, cors: true }

  # ===================================================
  # 4. PEDIDOS (API)
  # ===================================================
  ordersCreate:
    handler: orders/create.handler
    events:
      - http: { path: orders, method: post, cors: true, authorizer: { name: authorizer, type: request, identitySource: method.request.header.Authorization } }
  
  # LISTA INTELIGENTE (Admin ve todo / User ve suyos)
  ordersList:
    handler: orders/list.handler 
    events:
      - http: { path: orders, method: get, cors: true, authorizer: { name: authorizer, type: request, identitySource: method.request.header.Authorization } }
  
  ordersGet:
    handler: orders/get.handler
    events:
      - http: { path: orders/{id}, method: get, cors: true, authorizer: { name: authorizer, type: request, identitySource: method.request.header.Authorization } }
  
  ordersUpdateStatus:
    handler: orders/updateStatus.handler
    events:
      - http: { path: orders/{id}/status, method: patch, cors: true, authorizer: { name: authorizer, type: request, identitySource: method.request.header.Authorization } }

  # ===================================================
  # 5. ARQUITECTURA DE EVENTOS (Capacity & Flow)
  # ===================================================
  
  # A. Checker: Revisa capacidad al crear orden
  capacityChecker:
    handler: capacity/checker.handler
    events:
      - eventBridge:
          eventBus: { Ref: IngestionBus }
          pattern:
            source: ['bembos.orders']
            detail-type: ['OrderCreated']

  # B. Manager & Dequeue: Liberan espacio al terminar
  kitchenSpaceManager:
    handler: capacity/manager.handler

  dequeueOrder:
    handler: capacity/dequeue.handler

  # C. Workflow Tasks (Conectadas a BD)
  sfPrepare:
    handler: workflow/prepare.handler
    environment:
      ORDERS_TABLE: { Ref: OrdersTable }

  sfAssignCook:
    handler: workflow/assignCook.handler
    environment:
      ORDERS_TABLE: { Ref: OrdersTable }
      USER_TABLE: { Ref: UserTable }

  sfCookProcess:
    handler: workflow/cook.handler
    environment:
      ORDERS_TABLE: { Ref: OrdersTable }

  sfDispatch:
    handler: workflow/dispatch.handler
    environment:
      ORDERS_TABLE: { Ref: OrdersTable }
      NOTIFICATION_BUS: { Ref: NotificationBus }

  # D. Notificaciones
  notifyCustomer:
    handler: notifications/emailCustomer.handler
    events:
      - eventBridge:
          eventBus: { Ref: NotificationBus }
          pattern:
            source: ['bembos.kitchen']
            detail-type: ['OrderReady']

# ===================================================
# STEP FUNCTION DEFINITION
# ===================================================
stepFunctions:
  stateMachines:
    KitchenWorkflow:
      name: KitchenWorkflow-${sls:stage}
      role: arn:aws:iam::${aws:accountId}:role/LabRole
      definition:
        Comment: "Flujo Inteligente de Cocina Bembos"
        StartAt: PrepareData
        States:
          # FASE 1: Preparaci贸n
          PrepareData:
            Type: Task
            Resource: !GetAtt sfPrepare.Arn
            Next: AssignCook
          
          AssignCook:
            Type: Task
            Resource: !GetAtt sfAssignCook.Arn
            Next: CookingPhase
          
          # FASE 2: Cocci贸n
          CookingPhase:
            Type: Task
            Resource: !GetAtt sfCookProcess.Arn
            Next: CookingWait
          
          # FASE 3: Espera Real (1 minuto)
          CookingWait:
            Type: Wait
            Seconds: 60 
            Next: CheckOrderType

          # FASE 4: Decisi贸n
          CheckOrderType:
            Type: Choice
            Choices:
              - Variable: "$.type"
                StringEquals: "DELIVERY"
                Next: ProcessDelivery
            Default: ProcessPickup # "STORE" va aqu铆

          # Rama Delivery
          ProcessDelivery:
            Type: Pass
            Parameters:
              status: "SENDED"
              msg: "Tu repartidor va en camino "
            ResultPath: "$.dispatchInfo"
            Next: FinalizeOrder

          # Rama Tienda
          ProcessPickup:
            Type: Pass
            Parameters:
              status: "READY_PICKUP"
              msg: "Listo para recoger en mostrador "
            ResultPath: "$.dispatchInfo"
            Next: FinalizeOrder

          # FASE 5: Finalizaci贸n y Liberaci贸n
          FinalizeOrder:
            Type: Task
            Resource: !GetAtt sfDispatch.Arn
            Next: ReleaseCapacity

          ReleaseCapacity:
            Type: Task
            Resource: !GetAtt kitchenSpaceManager.Arn
            End: true

resources:
  Resources:
    # --- DYNAMODB ---
    UserTable:
      Type: AWS::DynamoDB::Table
      Properties:
        TableName: ${self:provider.environment.USER_TABLE}
        BillingMode: PAY_PER_REQUEST
        AttributeDefinitions:
          - { AttributeName: tenantId, AttributeType: S }
          - { AttributeName: userId, AttributeType: S }
          - { AttributeName: email, AttributeType: S }
          - { AttributeName: username, AttributeType: S }
          - { AttributeName: role, AttributeType: S }
        KeySchema:
          - { AttributeName: userId, KeyType: HASH }
          - { AttributeName: tenantId, KeyType: RANGE }
        GlobalSecondaryIndexes:
          - IndexName: EmailIndex
            KeySchema: [{ AttributeName: email, KeyType: HASH }, { AttributeName: tenantId, KeyType: RANGE }]
            Projection: { ProjectionType: ALL }
          - IndexName: UsernameIndex
            KeySchema: [{ AttributeName: username, KeyType: HASH }, { AttributeName: tenantId, KeyType: RANGE }]
            Projection: { ProjectionType: ALL }
          - IndexName: TenantRoleIndex
            KeySchema: [{ AttributeName: tenantId, KeyType: HASH }, { AttributeName: role, KeyType: RANGE }]
            Projection: { ProjectionType: ALL }

    OrdersTable:
      Type: AWS::DynamoDB::Table
      Properties:
        TableName: ${self:provider.environment.ORDERS_TABLE}
        BillingMode: PAY_PER_REQUEST
        AttributeDefinitions:
          - { AttributeName: PK, AttributeType: S }
          - { AttributeName: SK, AttributeType: S }
        KeySchema:
          - { AttributeName: PK, KeyType: HASH }
          - { AttributeName: SK, KeyType: RANGE }

    MenuTable:
      Type: AWS::DynamoDB::Table
      Properties:
        TableName: ${self:provider.environment.MENU_TABLE}
        BillingMode: PAY_PER_REQUEST
        AttributeDefinitions:
          - { AttributeName: tenantId, AttributeType: S }
          - { AttributeName: dishId, AttributeType: S }
        KeySchema:
          - { AttributeName: tenantId, KeyType: HASH }
          - { AttributeName: dishId, KeyType: RANGE }

    KitchenTable:
      Type: AWS::DynamoDB::Table
      Properties:
        TableName: ${self:provider.environment.KITCHEN_TABLE}
        BillingMode: PAY_PER_REQUEST
        AttributeDefinitions:
          - { AttributeName: tenantId, AttributeType: S }
          - { AttributeName: kitchenId, AttributeType: S }
        KeySchema:
          - { AttributeName: tenantId, KeyType: HASH }
          - { AttributeName: kitchenId, KeyType: RANGE }

    KitchenStateTable:
      Type: AWS::DynamoDB::Table
      Properties:
        TableName: ${self:provider.environment.KITCHEN_STATE_TABLE}
        BillingMode: PAY_PER_REQUEST
        AttributeDefinitions:
          - { AttributeName: kitchenId, AttributeType: S }
        KeySchema:
          - { AttributeName: kitchenId, KeyType: HASH }

    # --- S3 BUCKETS ---
    OrdersBucket:
      Type: AWS::S3::Bucket
      Properties:
        BucketName: ${self:provider.environment.ORDERS_BUCKET}

    MenuBucket:
      Type: AWS::S3::Bucket
      Properties:
        BucketName: ${self:provider.environment.MENU_BUCKET}
        # IMPORTANTE: Permitir ACL p煤blica para im谩genes
        PublicAccessBlockConfiguration:
          BlockPublicAcls: false
          IgnorePublicAcls: false
          BlockPublicPolicy: false
          RestrictPublicBuckets: false
        OwnershipControls:
          Rules:
            - ObjectOwnership: BucketOwnerPreferred

    # --- EVENT BUSES ---
    IngestionBus:
      Type: AWS::Events::EventBus
      Properties:
        Name: ${self:provider.environment.INGESTION_BUS}

    NotificationBus:
      Type: AWS::Events::EventBus
      Properties:
        Name: ${self:provider.environment.NOTIFICATION_BUS}

    # --- QUEUE ---
    WaitingOrdersQueue:
      Type: AWS::SQS::Queue
      Properties:
        QueueName: WaitingOrdersQueue-${sls:stage}
        MessageRetentionPeriod: 86400

    # --- SNS TOPICS ---
    OperationsAlertTopic:
      Type: AWS::SNS::Topic
      Properties:
        TopicName: OperationsAlertTopic-${sls:stage}

    CustomerNotificationTopic:
      Type: AWS::SNS::Topic
      Properties:
        TopicName: CustomerNotificationTopic-${sls:stage}
